*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-smoothing: auto;
  -webkit-font-smoothing: auto;
  -moz-font-smoothing: auto;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  font-family: inter;
}
body {
  width: 100vw;
  height: 100vh;
  background: #F1F1F1;
}

/*************************************************** header styles ****************************************************************/
header{
 max-width: 100%;
  height: 56px;
  background: rgba(27, 27, 27, 0.945);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;

}
.logo_image-2{
  display: none;
}
.search_container{
  max-width: 450px;
  padding: 5px 2px;
  background: #0f0e0e;
  display: flex;
    flex: 30%;
   align-items: center;
   justify-content: center;
   gap: 10px;
   border-radius: 5px;
   box-shadow: inset 0px 2px 5px;
   border: 1px;
   border-color: gray;
}
.search_icon{
  width: 15px;
}
.search_input{
  width: 90%;
  height: 100%;
  border: none;
   padding: 5px 2px;
  background: #0f0e0e;
  outline: none;
  color: white;
}
.search_input::placeholder{
  color: lightgray;
  font-weight: bold;
  text-indent: 2px;
}

/*************************************************** wrapper styles ****************************************************************/
.wrapper{
  width: 45%;
  margin: 0 auto;
  /* background: black; */
  margin-top: 30px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/*************************************************** model styles ****************************************************************/
.model_container{
  width: 100%;
  background: #1A1A1A;
  padding: 12px 8px 12px 16px;
  border-radius: 8px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.model_text{
  line-height:18.2px;
  font-size: 13px;
  font-weight: 500;
}
.model_util{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.model_btn{
  padding: 7px 15px;
  border-radius: 6px;
  border: none;
  box-shadow: inset 0px 2px 3px;
  cursor: pointer;
}
.model_close{
  width: 25px;
  cursor: pointer;
}

/*************************************************** setup guide styles ****************************************************************/
.guide_container{
  margin-top: 20px;
  width: 95%;
  background: rgb(194, 197, 197);
  border-radius: 10px;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.guide_container_wrapper{
    /* display: none; */
}
.setup_wrapper{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.setup_wrapper_text{
}
.setup_head{
  font-weight: 600;
  font-size: 18px;
  padding: 5px 0px;
  margin-bottom: 3px;
}
.setup_text{
  font-weight: 500;
  font-size: 13px;
  line-height:18.2px;
  margin-bottom: 5px;
}
.counter_container{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-weight: 400;
}
.counter_wrapper{}
.counter_text{
  font-weight: 200;
}
.setup_toggle{}
.toggle{
  cursor: pointer;
}
/*************************************************** setup items styles ****************************************************************/
.setup_item_container{
  /* background:  #7b7878; */
  padding: 8px 5px;
  border-radius: 10px; 
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.setup_items{
  margin-top: 5px;
  /* background:  #7b7878; */
  border-radius: 10px;
  padding: 5px 2px;
    /* display: flex;
    gap: 5px;
    flex-direction: column; */
}
.setup_item_wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
#seen{
  display: none;
}
.seen_list{
  display: none;
}
.setup_item_header_wrapper{
  display: flex;
  align-items: center;
  gap: 10px;
}
.item_header_img{
  width: 30px;
  cursor: pointer;
}
.setup_header_text{
  font-size: 15px;
  cursor: pointer;
}
.setup_item_other_wrapper{
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.setup_item_other{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.setup_item_other_text{
  font-size: 12px;
}
.setup_item_other_link{
  text-decoration: none;
  font-size: 12px;
}
.setup_item_btn{
  width: 120px;
  border-radius: 6px;
  padding: 7px 2px;
  background: black;
  color: white;
  border: 2px white round;
  cursor: pointer;
  font-size: 12px;
}
.setup_item_image{
 
}

/*************************************************** media query functionality ****************************************************************/
/* 650  first media query adjustment*/

@media screen and (max-width: 650px) {
 /*************************************************** header media query ****************************************************************/
  .logo_image{
    display: none;
  }
  .logo_image-2{
    display: inline-block;
  }
  .search_container{
    max-width: 250px;
    padding: 3px 2px;
    flex: 20%;
     gap: 10px;
  }
  /*************************************************** wrapper media query ****************************************************************/
  .wrapper{
    width: 100%;
  }
  /*************************************************** model media query ****************************************************************/
  .model_container{
    flex-direction: column;
    width: 100%;
    background: #1A1A1A;
    padding: 8px 5px 8px 12px;
  border-radius: 0px;
  
  }
  .model_text{
    font-size: 10px;
    font-weight: 300;
  }
  .model_util{
    width: 100%;
    gap: 10px;
    position: relative;
    /* justify-content: space-between; */
  }
  .model_btn{
    padding: 5px 5px;
    border-radius: 3px;
    font-size: 12px;
    align-self: center;
    justify-self: center;
  }
  .model_close{
    width: 25px;
    position: absolute;
    top: -20;
    right: -5;

  }
/*************************************************** setup guide media query ****************************************************************/
.guide_container{
  width: 100%;
  border-radius: 0px;
  padding: 5px 10px;

}
.setup_item_image{
  display: none;
}
.setup_head{
  font-weight: 400;
  font-size: 15px;
  padding: 3px 0px;
  margin-bottom: 2px;
}
.setup_text{
  font-weight: 300;
  font-size: 10px;
  line-height:10.2px;
  margin-bottom: 2px;
}
.counter_container{
  margin-top: 10px;
  align-items: center;
}
.num{
  font-size: 12px;
}
.counter_text{
 font-size: 12px;
}
/*************************************************** setup items media query ****************************************************************/
.setup_item_other_wrapper{
  margin-left: 30px;
  flex-direction: column;
}
.setup_item_other{
  flex-direction: row;
  gap: 5px;
}
.setup_header_text{
  font-size: 12px;
}
.setup_item_other_text{
  font-size: 10px;
}
.setup_item_other_link{
  flex: 1;
  text-decoration: none;
  font-size: 8px;
}

.setup_item_btn{
  width: 100px;
  border-radius: 8px;
  padding: 5px 2px;
  font-size: 10px;
}

}